<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="icone-casa.ico" type="image/x-icon" /> 
    <title>Portal do Usuário</title>
</head>
<body>
    <h1>Portal do usuário</h1>
    <p>nome, informações pessoais, contato, e-mail, preferencia de idioma, endereço, idade, tema (claro/escuro),alterar senha, logout, 
        excluir conta</p>
</body>
</html>